<!DOCTYPE html>
<html lang="en">
<head>
  <title>Papetier|Main</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<style>
    body{
        background-image: url("Papetier/app1/templates/app1/background.jpg");
    }

    #welcome{
        color: green;
        margin-top:10%;
        font-size:150px;
        font-family:verdana;
        text-align: center;
    }
    #add_question_text{
        margin-left:25%;
        margin-right:2%;
        font-size:40px;
    }
    #add_question_image{
        font-size:40px;
    }
    #search_question{
        font-size:40px;
        margin-left:39%;
    }
</style>
<body>
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/main">Papetier</a>
    </div>

    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li ><a href="/post/search"><span class="glyphicon glyphicon-education"></span> Generate a Question Paper</a></li>
        <li><a href="/post/new/bytext/"><span class="glyphicon glyphicon-plus"></span> Contribute to Question Database(by text)</a></li>
        <li><a href="/post/new/byimage/"><span class="glyphicon glyphicon-plus"></span> Contribute to Question Database(by image)</a></li>
      </ul>
    </div>
  </div>
</nav>
    <h1 id="welcome">Welcome To Papetier</h1>
        <br><br><br><br>
        <a href="/post/new/bytext" class="btn btn-primary" id="add_question_text">Add a Question(by text)</a>
        <a href="/post/new/byimage" class="btn btn-primary" id="add_question_image">Add a Questions(by image)</a>
        <br><br><br><br>
        <a href="/post/search" class="btn btn-primary" id="search_question">Generate a Question Paper</a>
</body>
</html>
